<h1>Name: <%= @blogger.name %></h1>
<h4>Age: <%= @blogger.age %></h4> 
<h4>Bio: <%= @blogger.bio %></h4>
<hr>
<p>Total Likes: <%= @likes %></p><br>
<p>Featured Post: <%= link_to @featured_post.title, @featured_post %></p><br>
<p>Top 5 Destinations: </p>